/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

p.site-description{
    display: none;
}

a {
    display: none;
}

img {
    width: 1150px;
    height: auto;
}
#post-80 img{
    background: cover;


}