
.site-content {
    display: flex;
    margin: auto;
    // width: $wide__screen-width;
    a {
    display: none;
}
}
// Sidebar Wiget==================================================================================
#secondary{
    display: none;
}

// Hero Banner==================================================================================
.home .home-hero {
    display: flex;
    align-items: center;
    flex: 1 1;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#808080 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100vh;
    // width: $wide__screen-width;
    // width: max-content;
}

p.site-description  {
    display: none;
}
.site-header .container {
    display: flex;
    // align-items: center;
    justify-content: center;
}

#site-navigation.main-navigation {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    max-width: 1120px;
}

.site-header.reverse-header {
    background-color: transparent;
    border-bottom: 0;
    position: absolute;
    text-shadow: 1px 1px 2px #323232;
}

h1.tent-logo {
    position: absolute;
    background: url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
    background-size: 50px 33px;
    z-index: 10;
    font-size: 2em;
    left: 10px;
    top: -15px;
    width: 50px;
    height: 50px;
}    

#site-navigation.main-navigation a{
    color: $color__background-pre;
    padding: 1rem;
    font-family: $font__3;
    text-shadow: 1px 1px 2px #323232;
    
}

// Latest Adventures ==============================================================================
.adventures-section {
   
    h2{
        font-family: $font__3;
        font-weight: lighter;
        text-align: center;
        font-size: 38.5px;
    }
}

.adventures-container ul{
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: $wide__screen-width;
    height: 40rem;
    padding-right: 5rem;
}


.canoe {
    background: url(../../images/adventure-photos/canoe-girl.jpg) no-repeat;
    background-size: cover;
    height: 540px;
    width: 540px;
    z-index: -1;
    // flex: 1;
}

.beach {
    background: url(../../images/adventure-photos/beach-bonfire.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    width: 540px;
    z-index: -1;
    // flex: 0 0 25%;
}
.failure{
    display: flex;
    border-top: 20px solid #fff;
}
.view {
    background: url(../../images/adventure-photos/mountain-hikers.jpg) no-repeat;
    background-size: cover;
    height: 270px;
    width: 270px;
    z-index: -1;
    border-right: 20px solid #fff;
    // flex: 1;
}
.sky {
    background: url(../../images/adventure-photos/night-sky.jpg) no-repeat;
    background-size: cover;
    height: 270px;
    width: 270px;
    z-index: -1;
    // flex: 1;

}
// Begin About  ===================================================================================

h1.entry-title  {
    display: flex;
    align-items: center;
    font-family: $font__3;
    font-size: 48px;
    text-transform: uppercase;
    // font-weight: lighter;
    flex: 1 1;
    color: $color__background-body;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#808080 url(../../images/about-hero.jpg) no-repeat top;
    background-size: cover,cover;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100vh;
    // width: $wide__screen-width;
}

// #primary{
//     display: flex;
//     justify-content: center;
// }
.entry-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 13.5rem 1rem 13.5rem;
    font-family: $font__2;

}

.entry-content h2{
   text-align: center;
   font-family: $font__3;
   font-size: 34px;
   text-transform: uppercase;

}
// Latest Adventures ==============================================================================







// Begin footer ===================================================================================
#colophon.site-footer {
    display: flex;
    background: url(../../images/dark-wood.png);
    background-size: 512px 512px;
    color: $color__background-body;
    // width: $wide__screen-width;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0 20%;
    width: $base__screen-width;
    font-family: $font__2;
    h3 {
        color: $color__text-orange;
        font-family: $font__3;
    }
    a {
        text-decoration: none;
        font-size: 10px;
        color: $color__brand-grey;
        align-self: center;
        padding-left: 1rem;
    }
}

.footer-image {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0 0 0 6rem;
    width: 500px;
    height: 160px;
    img {
        width: auto;
        height: 50px;
        
    }

    
}

.contact-info {
    margin: 2rem 0 0 3rem;

    p {
        display: flex;
        justify-content: flex-start;
        span {
            margin: .3rem;
        }
    }

}
.business-hours {
    margin: 2rem 0 1rem 3rem;
}
.copyright {
    align-self: flex-end;
    font-family: $font__3;
    margin: 2rem 0 2rem 0;
    
}